DATABASE_URL=postgresql://postgres.qywflwdkrckyjdrsadvo:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres.qywflwdkrckyjdrsadvo:[YOUR-PASSWORD]@aws-0-ap-south-1.pooler.supabase.com:5432/postgres
JWT_SECRET=7kaam_jwt_secret_2025
JWT_REFRESH_SECRET=7kaam_refresh_secret_2025
GROQ_API_KEY=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
SUPABASE_URL=https://qywflwdkrckyjdrsadvo.supabase.co
SUPABASE_SERVICE_KEY=sb_secret_xJD9ZgF8dZfnGalPdIp05Q_JB_q_wJN
PORT=8000
